$path-to-font: '/assets/fonts';

@font-face {
  font-family: "Exo";
  src: url("#{$path-to-font}/Exo-VariableFont_wght.woff2") format("woff2-variations"),
       url("#{$path-to-font}/Exo-Regular.woff2") format("woff2"),
       url("#{$path-to-font}/Exo-Regular.woff") format("woff");
  font-weight: 100 900;
  font-display: fallback;
  font-style: normal;
  unicode-range: U+20-U+24F;
}
