//--------------------
// SCSS VARIABLES
//--------------------

// Grid breakpoints
//
// Define the minimum and maximum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$breakpoints: (
  md: 670px,
  lg: 940px,
  xl: 1260px,
);

$navigation-breakpoint: 1100px;

$max-width-large: 1200px;
$max-width-medium: 1000px;
$max-width-small: 800px;
$max-width-xsmall: 400px;

// Z-Index Stack
//
// Control the order of layers in the application
$z-layers: (
  'modal': 999,
  'nav': 100,
  'content-overlay': 30,
);

// Colors
$color-brand-purple: #2c2276;
$color-brand-ochre: #fbba00;
$color-brand-blue: #009fe3;
$color-brand-green: #00a79f;

$color-dark: #000;
$color-grey-dark: #646464;
$color-light: #fff;

$color-grey: #d3d3d3;
$color-grey-dark: #646464;
$color-grey-light: #f4f4f4;

$color-success: #5ac12d;
$color-warn: #e52f2f;

$color-text: $color-dark;

// Typography
//
// Font, line-height, and color for body text, headings, and more.

$font-sans: 'Exo', sans-serif;
$font-serif: 'Georgia', 'Palatino', 'Garamond', 'Times New Roman', Georgia, Times, serif;

$font-size-root: 62.5%; /* this causes you to put pixels easily in rem - 24px = 2.4rem */
$font-size-base: 1.8rem;
$line-height: 1.625;

// Misc Shared
//
// common shared styles

$unit-xsmall: 10px;
$unit-small: 20px;
$unit-medium: 30px;
$unit-large: 50px;
$unit-xlarge: 80px;

$border-radius: 2px;

$height-header-mobile: 50px;
$height-header-desktop: 70px;
