$sub-toggle-size: 30px;

.mobile-navigation {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: $color-brand-purple;

  @media (min-width: $navigation-breakpoint) {
    display: none;
  }

  transition: transform .2s ease-in-out;
  transform: translateX(-100%);

  &:target,
  &.toggle--active {
    transform: translateX(0);
  }
}

.mobile-navigation__items {
  padding: $unit-small;
  list-style: none;
}

.mobile-navigation__item + .mobile-navigation__item {
  border-top: 1px solid rgba($color-light, .1);
}

.mobile-navigation__item--is-submenu {
  position: relative;
  padding-right: $sub-toggle-size;
}

//==================================== first level link
.mobile-navigation__link {
  position: relative;
  display: block;
  padding-top: .6em;
  padding-bottom: .55em;

  text-decoration: none;
  @include fontWeight(bold);
}

.mobile-navigation__item--active .mobile-navigation__link {
  font-family: $font-sans;
  @include fontWeight(bold);
}

.mobile-navigation__link:before {
  content: '';
  position: absolute;
  top: calc(1.4em - #{$unit-xsmall * .5});
  left: -$unit-small;
  width: $unit-xsmall;
  height: $unit-xsmall;

  border-radius: 50%;
  background-color: $color-brand-ochre;

  transform-origin: 100% 50%;
  transform: scale(0);
  transition: transform .1s;
}

.mobile-navigation__link:hover:before,
.mobile-navigation__item--active .mobile-navigation__link:before {
  transform: scale(.5);
}

//==================================== sub menu toggle
.mobile-navigation__sub-toggle {
  position: absolute;
  top: calc(1.5em - #{$sub-toggle-size * .5});
  right: 0;
  width: $sub-toggle-size;
  height: $sub-toggle-size;
}

.mobile-navigation__sub-toggle:after {
  content: '';
  position: absolute;
  top: calc(50% - 6px);
  left: calc(50% - 6px);

  border: 6px solid transparent;
  border-top-color: $color-light;

  transform-origin: 50% 25%;
}

.mobile-navigation__sub-toggle:hover:after,
.mobile-navigation__sub-toggle:focus:after {
  border-top-color: $color-brand-ochre;
}

.mobile-navigation__sub-toggle--close {
  display: none;
}

.mobile-navigation__subitems.toggle--active,
.mobile-navigation__subitems:target {
  ~ .mobile-navigation__sub-toggle--open {
    display: none;
  }

  ~ .mobile-navigation__sub-toggle--close {
    display: block;
  }

  ~ .mobile-navigation__sub-toggle:after {
    transform: rotate(180deg);
  }
}

//==================================== sub items
.mobile-navigation__subitems {
  display: none;
  padding-bottom: $unit-xsmall;
  list-style: none;

  &.toggle--active,
  &:target {
    display: block;
  }
}

.mobile-navigation__subitem-link {
  display: block;
  padding-top: .4em;
  padding-bottom: .4em;
  padding-left: 1em;

  color: $color-light;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $color-brand-ochre;
  }
}

// ====================================== toggle button
$navigation-toggle-size: 60px;
$burger-width: $navigation-toggle-size * .5;
$burger-height: 4px;

.mobile-navigation__toggle {
  position: fixed;
  z-index: 60;
  right: $unit-small;
  bottom: $unit-small;
  width: $navigation-toggle-size;
  height: $navigation-toggle-size;

  background-color: $color-brand-ochre;
  border-radius: 50%;

  @media (min-width: $navigation-breakpoint) {
    display: none;
  }

  box-shadow: 0 0 0 0 $color-brand-ochre;
  transition: box-shadow .15s;

  &:hover {
    box-shadow: 0 0 0 4px $color-brand-ochre;
  }
}

.mobile-navigation__toggle-close {
  visibility: hidden;
  pointer-events: none;

  .mobile-navigation:target ~ &,
  .mobile-navigation.toggle--active ~ & {
    visibility: visible;
    pointer-events: auto;
  }
}

.mobile-navigation__toggle-open {
  .mobile-navigation:target ~ &,
  .mobile-navigation.toggle--active ~ & {
    visibility: hidden;
    pointer-events: none;
  }
}

.mobile-navigation__toggle:before,
.mobile-navigation__toggle:after {
  content: '';
  position: absolute;
  top: calc(50% - #{$burger-height * .5});
  left: calc(50% - #{$burger-width * .5});
  width: $burger-width;
  height: $burger-height;
  background-color: $color-dark;
}

.mobile-navigation__toggle:before {

  box-shadow:
    0 $burger-height * -2 0 $color-dark,
    0 $burger-height * 2 0 $color-dark;
  transform: rotate(0);
  transition: transform .15s, box-shadow .15s;

  .mobile-navigation:target ~ &,
  .mobile-navigation.toggle--active ~ & {
    box-shadow:
      0 0 0 rgba($color-dark, 0),
      0 0 0 rgba($color-dark, 0);
    transform: rotate(45deg);
  }
}

.mobile-navigation__toggle:after {
  transform: scaleY(0) rotate(90deg);
  transition: transform .15s;

  .mobile-navigation:target ~ &,
  .mobile-navigation.toggle--active ~ & {
    transform: scaleY(1) rotate(-45deg);
  }
}
