{% macro desktopNavigation(items=false, strippedUrl=false, locale=false) %}

  <nav class="desktop-navigation">
    <ol class="desktop-navigation__items">
      {% for item in items %}
        {%- set isCurrent = (locale + '/' + item.page.slug == strippedUrl) -%}
        {%- set hasSubMenu = item.subMenuItems | length > 0 -%}
        {%- set id = 'desktop-navigation-submenu-' + loop.index0 -%}
        <li class="desktop-navigation__item{% if isCurrent %} desktop-navigation__item--active{% endif %}{% if hasSubMenu %} desktop-navigation__item--is-submenu{% endif %}">

          <a class="desktop-navigation__item-link" href="/{{ locale }}/{{ item.page.slug }}">
            {{ item.name }}
          </a>

          {% if hasSubMenu %}
            <a
              class="desktop-navigation__toggle desktop-navigation__toggle--open"
              href="#{{ id }}"
              data-toggle data-toggle-id="{{ id }}"
            >
              <span class="sr-only">Open</span>
            </a>
            <ol class="desktop-navigation__subitems" id="{{ id }}">
              {% for subItem in item.subMenuItems %}
                <li>
                  <a class="desktop-navigation__subitem-link" href="/{{ locale }}/{{ subItem.slug }}">
                    {{ subItem.title }}
                  </a>
                </li>
              {% endfor %}
            </ol>

            <a
              class="desktop-navigation__toggle desktop-navigation__toggle--close"
              href="#"
              data-toggle data-toggle-id="{{ id }}"
            >
              <span class="sr-only">Close</span>
            </a>
          {% endif %}

        </li>
      {% endfor %}
    </ol>
  </nav>
{% endmacro %}
