$language-select-size: 30px;

.language-select {
  width: $language-select-size * 2;
  min-width: $language-select-size * 2;
  height: $language-select-size;
  border-radius: $border-radius;
  overflow: hidden;
  box-shadow: 0 0 0 2px $color-brand-purple;
}

.language-select__options {
  list-style: none;
  display: flex;
}

.language-select__option > * {
  display: flex;
  justify-content: center;
  width: $language-select-size;
  height: $language-select-size;
  padding-top: 0.1em;

  color: $color-brand-purple;
  font-size: 1.6rem;
  text-decoration: none;
  transition: background-color .1s linear, color .1s linear;

  &:hover,
  &:focus {
    outline: none;
    background-color: $color-brand-ochre;
  }
}

html[lang="en"] .language-select__option--en > * ,
html[lang="nl"] .language-select__option--nl > * {
  background-color: $color-brand-purple;
  pointer-events: none;
  cursor: default;

  color: $color-light;
}
