{% if meta.locales %}
  <nav class="language-select">
    <ul class="language-select__options">
      {% for siteLocale in meta.locales %}
        <li class="language-select__option language-select__option--{{ siteLocale }} body-small">
          <a href="/{{ siteLocale }}/">
            {{ siteLocale }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>
{% endif %}
