{% macro iframeEmbed(blockData) %}
<div class="section iframe-embed">
  <div class="container iframe-embed__inner">
    <iframe
      src="{{ blockData.targetUrl }}"
      width="100%"
      height="650"
    ></iframe>
  </div>
</div>
{% endmacro %}
