.external-tools__items {
  list-style: none;
}

.external-tools__item {
  border-top: 1px solid $color-grey;

  &:last-child {
    border-bottom: 1px solid $color-grey;
  }
}

.external-tools__item-content {
  padding-top: $unit-medium;
  padding-bottom: $unit-medium;
}

.external-tools__item-body {
  margin-top: $unit-small;
}
