.external-tools__items {
  list-style: none;
}

.external-tools__item {
  border-top: 1px solid $color-grey;

  &:last-child {
    border-bottom: 1px solid $color-grey;
  }
}

.external-tools__item-content {
  padding-top: $unit-small;
  padding-bottom: $unit-small;

  @media (min-width: 600px) {
    padding-top: $unit-medium;
    padding-bottom: $unit-medium;
  }

  @media (min-width: 1000px) {
    padding-top: $unit-large;
    padding-bottom: $unit-large;
  }
}

.external-tools__item-content > * + * {
  margin-top: $unit-small;
}
