{% macro icon(name, viewBox = '0 0 100 100') %}
  <svg class="icon icon--{{ name }}" role="img" aria-hidden="true" viewBox="{{ viewBox }}">
    <use xlink:href="#icon-{{name}}"></use>
  </svg>
{% endmacro %}
