{# components A-Z #}
{% from "icon/external.njk" import external %}

{% set componentByType = {
  external: external
} %}

{% macro icon(type) %}
  {% set component = componentByType[type] %}
  {% if component %}
    {{ component() }}
  {% else %}
    <script>console.warn('Unknown icon type "{{ type }}"');</script>
  {% endif %}
{% endmacro %}
