---
layout: base
pagination:
  data: allPages
  size: 1
  alias: item
  addAllPagesToCollections: true
permalink: /{{ item.locale }}/{{ item.slug }}/
eleventyComputed:
  locale: "{{ item.locale }}"
  languageAlts: "{{ item.languageAlts | json }}"
  title: "{{ item.title }}"
---

{% from "../components/hero/hero.njk" import hero %}
{% from "modular-content/index.njk" import modularContent with context %}

{{ hero(title=item.title, level='secondary') }}
{{ modularContent(item.sections) }}
