---
layout: base
pagination:
  data: download
  size: 1
  alias: item
permalink: /{{ item.locale }}/{{ item.slug }}/
eleventyComputed:
  locale: "{{ item.locale }}"
---

{% from "../components/hero/hero.njk" import hero %}
{% from "../components/download-list/download-list.njk" import downloadList %}

{{ hero(title=item.title, level='secondary') }}
{{ downloadList(item.downloads) }}
