---
layout: base
pagination:
  data: home
  size: 1
  alias: item
permalink: /{{ item.locale }}/
eleventyComputed:
  locale: "{{ item.locale }}"
---

{% from "../components/hero/hero.njk" import hero %}
{% from "modular-content/index.njk" import modularContent %}

{{ hero(title=item.title, body=item.intro) }}
{{ modularContent(item.body) }}
