.tree {
  &__branch {
    margin-bottom: 1rem;

    &--tip {
      background-color: greenyellow;
    }
  }

  &__question {
    border: thin solid #dbdbdb;
    padding: 1rem;
    margin: 0;
  }

  &__answers {
    display: flex;
  }

  &__answer {
    flex-basis: 50%;
    border: thin solid #dbdbdb;
    padding: 1rem;
    margin: 0;
    cursor: pointer;

    &:not(.tree__answer--selected):hover {
      background: #eaeaea;
    }

    &--selected {
      background: aliceblue;
      cursor: default;
    }
  }
}
