{% macro decisionTree(blockData) %}
<div class="container">
  <div id="ID-{{ blockData.decisionTree.id }}">
    {% raw %}
      <template v-for="option in options">
        <div
          v-if="choices.includes(option.slug)"
          class="tree__branch"
        >
          <!-- The question/result -->
          <p
            v-if="option.isEndResult"
            class="tree__preamble"
          >
            {{ resultPreamble }}
          </p>
          <p
            v-if="option.content && option.content.length"
            class="h3 tree__question"
          >
            {{ option.content }}
          </p>
          <!-- The answers/choices -->
          <template v-if="option.choices && option.choices.length">
            <p class="tree__preamble">
              {{ choicePreamble }}
            </p>
            <div class="tree__answers">
              <p
                v-for="choice in option.choices"
                class="tree__answer"
                :class="{ 'tree__answer--selected': option.selection === choice.targetSlug }"
                @click="addChoice(option, choice.targetSlug)"
              >
                {{ choice.content }}
              </p>
            </div>
          </template>
        </div>
      </template>
    {% endraw %}
  </div>
</div>

<script src="https://unpkg.com/vue@3.0.5/dist/vue.global.prod.js"></script>
<script src="{{ '/assets/scripts/decision-tree.js' | url }}"></script>
<script>createDecisionTree({{ blockData | json }});</script>
{% endmacro %}
