<header class="header" role="banner">
  <div class="header__inner container">
    <div class="header__left">
      KIWK TOX
    </div>
    <div class="header__right">
      {% include "site-navigation/site-navigation.njk" %}
    </div>
  </div>
</header>
