{# components A-Z #}
{% from "modular-content/rich-text/rich-text.njk" import richText %}
{% from "modular-content/responsive-image/responsive-image.njk" import responsiveImage %}
{% from "modular-content/decision-tree/decision-tree.njk" import decisionTree %}
{% from "modular-content/iframe-embed/iframe-embed.njk" import iframeEmbed %}
{% from "modular-content/link-list/link-list.njk" import linkList %}

{% set componentByType = {
  rich_text: richText,
  image: responsiveImage,
  decision_tree_modular_block: decisionTree,
  external_tool_embed: iframeEmbed,
  link_list: linkList
} %}

{% macro modularContent(items, context) %}
<div class="modular-content">
  <div class="container modular-content__inner">
    {% for item in items %}
      {% set itemType = item._modelApiKey %}
      {% set component = componentByType[itemType] %}
      {% if component %}
        {{ component(item, context) }}
      {% else %}
        <script>console.warn('Unknown item type "{{ itemType }}"');</script>
      {% endif %}
    {% endfor %}
  </div>
</div>
{% endmacro %}
