.modular-content {
  position: relative;
  z-index: 1;

  padding-right: $unit-xsmall;
  padding-left: $unit-xsmall;
}

.modular-content__inner {
  background-color: $color-light;
  min-height: 100vh;
}
