.rich-text > * + * {
  margin-top: 1em;
}

.rich-text a {
  text-decoration: underline;
  font-weight: 600;
  color: $color-brand-purple;

  &:focus,
  &:hover {
    text-decoration: none;
  }
}

.rich-text ul,
.rich-text ol {
  list-style: none;
  font-family: $font-sans;
}

.rich-text ol {
  counter-reset: ol;
}

.rich-text ol li {
  counter-increment: ol;
}

.rich-text li {
  position: relative;
  padding-left: 1.3em;
}

.rich-text ul li:before,
.rich-text ol li:before {
  position: absolute;
  left: 0;
  opacity: .5;
}

.rich-text ol li:before {
  content: counter(ol) '. ';
  top: .3em;
  font-size: .8em;
}

.rich-text ul li:before {
  content: '';
  top: calc(.9em - 2px);
  width: 4px;
  height: 4px;
  background-color: $color-text;
  border-radius: 50%;
}
