.rich-text > * + * {
  margin-top: 1em;
}

.rich-text h1,
.rich-text h2,
.rich-text h3,
.rich-text h4,
.rich-text h5,
.rich-text h6 {
  font-family: $font-sans;
  @include fontWeight(bold);
}

.rich-text h1,
.rich-text h2 {
  font-size: 2.2rem;

  @media (min-width: 800px) {
    font-size: 2.5rem;
  }

  @media (min-width: 1000px) {
    font-size: 3rem;
  }
}

.rich-text h3 {
  font-size: 2rem;

  @media (min-width: 800px) {
    font-size: 2.3rem;
  }

  @media (min-width: 1000px) {
    font-size: 2.8rem;
  }
}

.rich-text h4 {
  font-size: 1.8rem;

  @media (min-width: 800px) {
    font-size: 2.1rem;
  }

  @media (min-width: 1000px) {
    font-size: 2.6rem;
  }
}

.rich-text h5 {
  font-size: 1.6rem;

  @media (min-width: 800px) {
    font-size: 1.9rem;
  }

  @media (min-width: 1000px) {
    font-size: 2.4rem;
  }
}

.rich-text h6 {
  font-size: 1.4rem;

  @media (min-width: 800px) {
    font-size: 1.7rem;
  }

  @media (min-width: 1000px) {
    font-size: 2.2rem;
  }
}

.rich-text a {
  text-decoration: underline;
  font-weight: 600;
  color: $color-brand-purple;

  &:focus,
  &:hover {
    text-decoration: none;
  }
}

.rich-text ul,
.rich-text ol {
  list-style: none;
}

.rich-text ol {
  counter-reset: ol;
}

.rich-text ol li {
  counter-increment: ol;
}

.rich-text li {
  position: relative;
  padding-left: 1.6em;
}

.rich-text li + li {
  margin-top: .5em;
}

.rich-text ul li:before,
.rich-text ol li:before {
  position: absolute;
  left: 0;
}

.rich-text ol li:before {
  content: counter(ol) '. ';
  top: 0;
}

.rich-text ul li:before {
  content: '';
  top: calc(.9em - 2px);
  width: 4px;
  height: 4px;
  background-color: $color-text;
  border-radius: 50%;
}

.rich-text strong {
  @include fontWeight(bold);
}
