.friendly-button {
  position: relative;
}

.friendly-button .icon {
  display: inline-block;
  vertical-align: middle;
  width: 1em;
  height: 1em;
  margin-left: .5em;
  fill: currentColor;
}

.friendly-button__items {
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  width: 100%;
  padding: $unit-xsmall;

  background-color: $color-light;
  border-radius: $border-radius;
  box-shadow: 0 0 20px rgba(black, .2);

  display: none;

  &.toggle--active {
    display: block;
  }
}

.friendly-button__item button {
  appearance: none;
  outline: none;
  border: 0;
  background: none;

  display: block;

  color: $color-brand-purple;
  text-decoration: none;
  text-align: left;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}
