{% macro quote(blockData) %}
  <figure class="quote section">
    <blockquote
      class="body-xlarge quote__body"
      cite="{% if blockData.source %}blockData.source{% endif %}"
    >
      {{ blockData.body | safe }}
    </blockquote>
    <figcaption class="quote__author font-muted">{{ blockData.author }}</figcaption>
  </figure>
{% endmacro %}
