{% macro downloadList(items) %}
  {%- set formats = items | getFileFormatsCollection -%}

  <article
    class="download-list container section"
    data-downloads
  >
    <form
      class="downloads-list__filter"
      data-downloads-filter
    >
      <p class="body-small font-muted">Filter:</p>
      <div class="downloads-list__filter-formats">
        {% for format in formats %}
          <button
            class="downloads-list__filter-button body-small"
            data-downloads-format="{{ format }}"
          >
            {{ format }}
          </button>
        {% endfor %}
      </div>

      <div class="downloads-list__filter-name">
        <button
          class="downloads-list__filter-button body-small"
          data-downloads-sort
        >
          name
        </button>
      </div>
    </form>

    <ul class="download-list__items js-downloads-list">
      {% for item in items %}
        <li
          class="download-list__item"
          data-name="{{ item.file.filename }}"
          data-format="{{ item.file.format }}"
        >
          <a
            class="download-list__item-link"
            href="{{ item.file.url }}"
            target="_blank"
            rel="noreferrer noopener"
          >
            <div class="download-list__item-content">
              <p class="h3">{{ item.file.filename }}</p>

              {% if item.body %}
                <div class="download-list__item-body font-muted">
                  {{ item.body }}
                </div>
              {% endif %}
            </div>

            <div class="download-list__icon">
              {% icon 'download' %}
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>
  </article>

  <script src="{{ '/assets/scripts/download-filter.js' | url }}"></script>
  <script>initDownloadFilter();</script>
{% endmacro %}
