{% macro responsiveImage(blockData) %}
  {% set image = blockData.image %}
  {% set caption = blockData.body %}

  <article class="section">
    <figure class="{% if not blockData.fullWidth %}container container--width-small{% endif %}">
      <div
        class="responsive-image__fixed-ratio"
        style="padding-top: {{ 100.0 / image.responsiveImage.aspectRatio }}%;
              background-image: url({{ image.responsiveImage.base64 }});
              background-size: cover;">
        <picture class="responsive-image__picture">
          <source type="image/webp" srcset="{{ image.url | imageUrl({ w: 776, fm: 'webp' }) }}">
          <img
            alt="{{ image.alt }}"
            src="{{ image.url | imageUrl({ w: 776 }) }}"
            loading="lazy"
            class="responsive-image__figure-image"
            style="width:100%; height:100%;"
          />
        </picture>
      </div>
      {% if caption %}
        <figcaption class="responsive-image__caption rich-text body-small font-muted">
          {{ caption | safe }}
        </figcaption>
      {% endif %}
    </figure>
  </article>
{% endmacro %}
