.responsive-image__fixed-ratio {
  position: relative;
  width: var(--image-width);
  margin-right: auto;
  margin-left: auto;
  background-size: cover;
}

.responsive-image__spacer {
  display: block;
}

.responsive-image__picture {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.responsive-image__figure-image {
  width: 100%;
}

.responsive-image__caption {
  margin-top: $unit-xsmall;
}
