{% macro responsiveImage(blockData) %}
  {% set image = blockData.image %}
  {% set caption = blockData.body %}

  <article class="section">
    <figure class="{% if not blockData.fullWidth %}container container--width-small{% endif %}">
      <div
        class="responsive-image__fixed-ratio"
        style="--image-width: {{ blockData.imageWidth or 100}}%"
      >
        {% if image.format === 'svg' %}
          <img
              alt="{{ image.alt }}"
              src="{{ image.url }}"
              loading="lazy"
              width="{{ image.width }}"
              height="{{ image.height }}"
              class="responsive-image__figure-image"
            />
        {% else %}
          <span
            class="responsive-image__spacer"
            style="padding-top: {{ 100.0 / image.responsiveImage.aspectRatio }}%;
                background-image: url({{ image.responsiveImage.base64 }});"
          ></span>
          <picture class="responsive-image__picture">
            <source type="image/webp" srcset="{{ image.url | imageUrl({ w: 1200, fm: 'webp' }) }}">
            <img
              alt="{{ image.alt }}"
              src="{{ image.url | imageUrl({ w: 1200 }) }}"
              loading="lazy"
              class="responsive-image__figure-image"
              style="width:100%; height:100%;"
            />
          </picture>
        {% endif %}
      </div>
      {% if caption %}
        <figcaption class="responsive-image__caption rich-text body-small font-muted">
          {{ caption | safe }}
        </figcaption>
      {% endif %}
    </figure>
  </article>
{% endmacro %}
